@tailwind base;
@tailwind components;
@tailwind utilities;


/* Styling for WebKit browsers such as Google Chrome*/
::-webkit-scrollbar {
  width: 7px; /* Adjust the width as needed */
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Adjust the border-radius as needed */
}